.header {
  padding: 0 20px;
  background-color: rgb(40, 40, 255);
  position: fixed;
  top: 0;
  left: 260px; /* Inizia dopo la sidebar */
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

